body {
    background-color: #484848;
    margin: 0 0;
    padding: 0 0;
    
}

#headerContainer {
    text-align: center;
    font-family: sans-serif, monospace;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 0%;
    letter-spacing: 1px;
    background-color: #333333;
    color: #46bcde;
}

h1 {
    margin: 0;
    padding-top: 20px;
}

span {
    color: #e57255;
}

#credits {
    margin-top: 0;
    font-size: 20px;
    color: #e5725588;
    padding-bottom: 20px;
}

#chooseWeapon {
    text-align: center;
}

#weaponPrompt {
    margin-top: 10px;
    font-size: 35px;
    text-decoration: underline 3px;
    text-underline-offset: 8px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: sans-serif, monospace;
    color: lightblue;
}

#buttonContainer {
    display: flex;
    padding: 50px 350px;
    justify-content: space-around;
}

.btn {
    height: 200px;
    aspect-ratio: 1/1;
    background-color: #333333;
    border-radius: 50px;
    border: none;
    font-size: 125px;
}

.btn:hover {
    transform: scale(1.125);
}

#resultsContainer {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    color: lightyellow;
    font-family: sans-serif;
    font-size: 20px;
}

.section {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#playerChoice {
    height: 150px;
    aspect-ratio: 1/1;
}

#computerChoice {
    height: 150px;
    aspect-ratio: 1/1;
}